NEXT_PUBLIC_SUPABASE_URL=https://lwrnwwlfktazphkygfiz.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3cm53d2xma3RhenBoa3lnZml6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NjA0NzUsImV4cCI6MjEwMTQzNjQ3NX0.oWqb3jFEKR9WDnWF8CNy2ty-Mha8PwO95Y7oktIrUOI
